.body{
	background: #f4f4f4;
	color: #555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	line-height: 12em;
	margin: 0;
	
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
	border: #000 2 px solid;
}
#main-header{
	background: teal;
	color: #fff;
	text-align: center;
}


#me{
	width: 400;
	height: 400;
	border: 1px solid #000;
	margin-top: 30px;
	background-image: url('../images/me.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	position: static;


}
#nav{
	background: #333;
	color: #fff;
	text-align: center;

}
#nav ul{
	padding: 0;
	list-style: none;
}

#nav li{
	display: inline;

}
#nav a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	padding-right: 15px;

}

#Showcase{
text-align: center;
border: 10px solid;
margin: 20px;
padding: 20px;
font-size: 20px;
background: beige;
}

#interests-showcase{
	text-align: center;
	border: #000;
}

#Floating-button{
	position: fixed;
	top: 400px;
}
#main{
	float: left;
	width: 70%;
	padding: 15px;
	box-sizing: border-box;

}

#sidebar{
	float: right;
	width: 30%;
	padding: 15px;
	box-sizing: border-box;
	background: #333;
	color: #fff;

}

.my-form{
	border: 2px solid #000;
	padding: 20px;
}

.my-form .form-group{
	padding-bottom: 15px;
}

.my-form label{
	display: block;
}

.my-form input[input="text"], .my-form textarea{
	padding: 3px;
	width: 100%;
}
#container-showcase{
	border: 2px solid black;
	margin: 20px;
	display: flex;
	flex-flow: wrap ;

}